*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/c.png);
    background-size:750px;
    background-position: right 1% top 50px;
    background-repeat: no-repeat;
    padding-bottom: 50px;   

}
#header background-image{
    padding-top: 100px;
}
img{
    width: 20%;
}
.container{
    padding:10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #bd315e;
    position:absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 span{
    font-size: 60px;
    margin-top: 20px;
    color:#bd315e;
}
.header-text h1 span{
    color:#bd315e;
}
/* ------------------about------------------ */

#about{
    padding: 80px 0;
    color: #ababab;

}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.aboutCol1{
    flex-basis: 35%;
}
.aboutCol1 img{
    width: 100%;
    border-radius: 15px;
}
.aboutCol2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
    display: inline-block;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #bd315e;
    position:absolute;
    left:0;
    bottom: -8px;
    transition: width 0.5s ease;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-links:hover::after{
    width: 100%;
}
.tab-contents{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #bd315e;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;

}
/* ----------portfolio------------- */
#portfolio{
    padding: 50px 0;   
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.projects img{
    width: 500px;
    border-radius: 10px;
    display: block;

}